h1, h2 {
    color: #017100;
}

p, li {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

a {
    color: #017100;
    font-weight: bold;
    text-decoration: solid;
    transition: color 0.15s;
}

a:hover {
    color: #61D836;
}