h1 {
    color: #017100;
    font-size: 2.5rem;
    margin: -0.2rem 0;
}

.graph {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.graph img {
    height: 25rem;
}

ol {
    text-align: left;
    margin: -0.2rem 0;
}

ol > li::marker {
    font-weight: bold;
    color: #017100;
}